
body {
  padding-top: 70px;
}

.text_value {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 150%;
}
.home_box {
  width: 250px;
  height: 250px;
  text-align: center;
}

.nav_link_center {
  margin: 10 50;
  text-align: center;
}

.panel-default>.panel-heading {
  background-color: transparent;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 150%;
  height: 50px
}

.logo_place {
  margin: 0 20;
  text-align: center;
}

.home_box_weather {
  width: 1050px;
  height: 250px;
  text-align: center;
}

.weather_big_forecast_box {
  width: 130px;
  height: 200px;
  text-align: center;
}
.weather_forecast_small {
  width: 1400px;
  height: auto;
  text-align: center;
}

.weather_box_oneday_big {
  width: 250px;
  height: 250px;
  text-align: center;
}