<div class="col-md-10 home_box panel panel-default" ng-controller="dashTextMeasureController as ctrl">
      <h4>Current Temperature</h4>
      <img HEIGHT="100" WIDTH="100" src="app/images/temperature_home_current.png">
      <dash-text-measure value="value" dash-unit="'C'"  dash-id="'users'" ng-init="init('temperature')"></dash-text-measure>
</div>

<div class="col-md-10 home_box panel panel-default" ng-controller="dashTextMeasureController as ctrl">
      <h4>Current Humidity</h4>
      <img HEIGHT="100" WIDTH="100" src="app/images/humidity_home_current.png">
      <dash-text-measure value="value" dash-unit="'%'"  dash-id="'users'" ng-init="init('humidity')"></dash-text-measure>
</div>

<div class="col-md-10 home_box panel panel-default" ng-controller="dashTextMeasureController as ctrl">
      <h4>Current Pressure</h4>
      <img HEIGHT="100" WIDTH="100" src="app/images/pressure_home_current.png">
      <dash-text-measure value="value" dash-unit="'mb'"  dash-id="'users'" ng-init="init('pressure')"></dash-text-measure>
</div>


<div class="col-md-3" ng-controller="dashWeatherController">     
  	<dash-weatherbigtoday  content= 'place' ng-init="findWeather('Milan','it')" ></dash-weatherbigtoday>
</div>


<div class="col-md-10 home_box_weather panel panel-default">
    <h4>Weather Forecast</h4>
    <div class="col-md-10 weather_forecast_small" ng-controller="dashWeatherController">     
    	<div class="weather_forecast_small" ng-init="findWeather('Milan','it')" >
    		<div class="col-md-1" ng-repeat="forecast in place.item.forecast | limitTo: 8">
    			<dash-weatherbigforecast content='forecast' ></dash-weatherbigforecast>
    		</div>
        </div>      
    </div>
</div>
