<div class="panel panel-default weather_big_forecast_box">
	<div class="panel-heading" style="font-size:120%;">{{$ctrl.content.day}}
	<p style="font-size:60%;"> {{$ctrl.content.date}}</p>
	</div>
	<div class="panel-body">
		<i class="wi wi-yahoo-{{$ctrl.content.code}}" ng-if="+'wi wi-yahoo-'+'$ctrl.content.code'" style="font-size:200%;"></i> {{$ctrl.content.text}}
		<div class="panel-body">
			<p style="font-size:120%;"> High: {{$ctrl.content.high}}</p>
			<p style="font-size:120%;"> Low: {{$ctrl.content.low}}</p>
			
		</div>
	</div>
</div>